<div id="<%= dom_id developer %>">
  <p>
    <strong>First name:</strong>
    <%= developer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= developer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= developer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= developer.phone %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= developer.github %>
  </p>

</div>
